#/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
#/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
#/composer.phar
/src/Backend/*
!src/Backend/.gitkeep
/src/Core/*
!src/Core/.gitkeep
!src/App/.gitkeep
/web/bundles/
/vendor/
/nbproject/
/web/app.php/
/web/app_dev.php/
.phpintel/