{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('bundles/app/css/styles.css')}}">
    <link rel="stylesheet" href="{{asset('bundles/app/css/styles.css.map')}}">
{% endblock %}

{% block body %}
    <div class="container-fluid">
    	<div class="row">
    		<div class="top">
    			<img src="{{asset('bundles/app/images/primera.jpg')}}" alt="Sabri y Alexis">
    		</div>
    	</div>
    </div>
{% endblock %}

