/* $desktop-width: 992px; */
/*fonts*/
@font-face {
  font-family: 'futura-light';
  src: url("../fonts/futura_light_bt-webfont.woff2") format("woff2"), url("../fonts/futura_light_bt-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'prototype';
  src: url("../fonts/prototype-webfont.woff2") format("woff2"), url("../fonts/prototype-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Futura';
  src: url("../fonts/futumd__-webfont.woff2") format("woff2"), url("../fonts/futumd__-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.top {
  position: relative;
  max-height: 640px;
  overflow: hidden; }
  .top img {
    margin-top: -60px;
    width: 100%; }
    @media (min-width: 0px) and (max-width: 767px) {
      .top img {
        margin-top: 0px !important;
        border-bottom: 4px solid #FCC949; } }
  .top .contCount {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 0 10%;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    font-size: 30px; }
    @media (min-width: 0px) and (max-width: 767px) {
      .top .contCount {
        background: none !important;
        position: static; } }
    .top .contCount .titleCount {
      color: black;
      font-family: 'futura-light';
      font-size: 25px;
      padding: 40px 0px;
      margin: 0; }
      @media (min-width: 0px) and (max-width: 767px) {
        .top .contCount .titleCount {
          float: left;
          margin: 0;
          padding: 0;
          text-align: center; } }
    @media (min-width: 0px) and (max-width: 767px) {
      .top .contCount .countt {
        margin-top: -58px !important; } }
    .top .contCount #countdown {
      font-family: 'Abril Fatface'; }
      .top .contCount #countdown span {
        width: 25%;
        font-size: 45px;
        padding: 10px 0; }
        .top .contCount #countdown span b {
          display: block;
          width: 100%;
          font-size: 15px; }
  .top .welcome {
    position: absolute;
    right: 5%;
    top: 10%; }
    @media (min-width: 0px) and (max-width: 767px) {
      .top .welcome {
        position: relative;
        float: left;
        right: 0;
        width: 100%; } }
    .top .welcome .sya {
      width: 100%; }
      @media (min-width: 0px) and (max-width: 767px) {
        .top .welcome .sya {
          position: absolute;
          top: -95px;
          left: 0; } }
      .top .welcome .sya p {
        font-family: 'Sacramento';
        color: white;
        text-align: center;
        font-size: 50px; }
        @media (min-width: 0px) and (max-width: 767px) {
          .top .welcome .sya p {
            text-shadow: 1px 2px 3px black; } }
      .top .welcome .sya p:before {
        background-image: url("../images/line01.png");
        background-size: 100%;
        width: 100%;
        height: 2px;
        content: "";
        bottom: 0;
        float: left;
        left: 0;
        background-repeat: no-repeat; }
      .top .welcome .sya p:after {
        background-image: url("../images/line01.png");
        background-size: 100%;
        width: 100%;
        height: 2px;
        content: "";
        top: 0;
        float: left;
        left: 0;
        background-repeat: no-repeat; }
    .top .welcome .invitacion {
      font-family: 'Futura';
      font-size: 25px;
      color: black;
      margin: 15px 0;
      text-align: center; }
      @media (min-width: 0px) and (max-width: 767px) {
        .top .welcome .invitacion {
          position: static;
          width: 100%;
          margin: 15px 0;
          padding: 0;
          text-align: center; } }
      .top .welcome .invitacion span {
        display: block;
        font-size: 30px; }
    @media (min-width: 768px) and (max-width: 1024px) {
      .top .welcome .nuestroCasam {
        font-size: 29px !important; } }
    @media (min-width: 0px) and (max-width: 767px) {
      .top .welcome .nuestroCasam {
        font-size: 29px !important; } }
    .top .welcome .ctaConfirm a {
      font-size: 17px;
      padding: 10px;
      color: white;
      background: #ffcc66;
      border-radius: 13px;
      font-family: 'helvetica'; }
    @media (min-width: 1025px) and (max-width: 1349px) {
      .top .welcome .ctaConfirm {
        display: none !important; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      .top .welcome .ctaConfirm {
        display: none !important; } }
    @media (min-width: 0px) and (max-width: 767px) {
      .top .welcome .ctaConfirm {
        display: none !important; } }
    .top .welcome .down .glyphicon {
      margin-top: 50px;
      font-size: 40px;
      color: black;
      font-weight: lighter; }
    .top .welcome .tituloMargen {
      margin-top: 165px; }

.menu {
  padding: 15px 0; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .menu {
      padding: 0;
      width: 50%;
      margin-top: 30px; } }
  @media (min-width: 0px) and (max-width: 767px) {
    .menu {
      padding: 0;
      margin-top: 30px; } }
  .menu a {
    text-align: center;
    float: left;
    overflow: hidden;
    transition: all .7s; }
    .menu a .title {
      padding: 0;
      margin: 0;
      font-size: 40px;
      color: #ffcc66;
      font-family: 'Great Vibes'; }
      @media (min-width: 0px) and (max-width: 767px) {
        .menu a .title {
          font-size: 30px; } }
    .menu a img {
      width: 70%;
      margin: 0 auto; }
    .menu a:after {
      background-image: url("../images/line02.png");
      background-size: 70%;
      width: 100%;
      content: "";
      bottom: 0px;
      float: left;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      height: 60px; }
    .menu a:hover {
      opacity: .7; }

.confirmAsist {
  height: 560px;
  overflow: hidden; }
  @media (min-width: 0px) and (max-width: 767px) {
    .confirmAsist {
      height: 100%;
      overflow: inherit; } }
  .confirmAsist .background {
    margin-left: -15px;
    margin-right: -15px;
    position: absolute;
    width: 100%;
    top: -50%;
    z-index: -10; }
    @media (min-width: 768px) and (max-width: 1024px) {
      .confirmAsist .background {
        top: 0%; } }
    @media (min-width: 0px) and (max-width: 767px) {
      .confirmAsist .background {
        top: 0%; } }
  .confirmAsist .text {
    z-index: 200;
    margin: 0 auto;
    width: 60%; }
    @media (min-width: 0px) and (max-width: 767px) {
      .confirmAsist .text {
        width: 100%; } }
    .confirmAsist .text h2 {
      float: none;
      font-size: 45px;
      padding: 10% 0 0;
      margin: 0;
      color: white;
      font-family: 'futura-light'; }
      @media (min-width: 0px) and (max-width: 767px) {
        .confirmAsist .text h2 {
          font-size: 20px; } }
    .confirmAsist .text img {
      margin-top: 10px;
      width: 50%; }
  .confirmAsist .Cta {
    margin: 10% auto 0 auto;
    background: rgba(255, 204, 102, 0.8);
    border-radius: 13px;
    overflow: hidden;
    width: 25%;
    padding: 20px; }
    @media (min-width: 0px) and (max-width: 767px) {
      .confirmAsist .Cta {
        width: 160px;
        padding: 10px;
        margin-top: 63px; } }
    .confirmAsist .Cta .btnConfirm {
      color: white;
      margin: 0 auto;
      font-family: 'futura-light';
      text-align: center;
      font-size: 25px; }
      @media (min-width: 0px) and (max-width: 767px) {
        .confirmAsist .Cta .btnConfirm {
          font-size: 17px; } }

.regalo {
  color: gray;
  height: 560px; }
  @media (min-width: 0px) and (max-width: 767px) {
    .regalo {
      height: inherit !important;
      font-size: 55px !important; } }
  @media (min-width: 0px) and (max-width: 767px) {
    .regalo .regalosImg {
      display: none !important; } }
  @media (min-width: 768px) and (max-width: 1024px) {
    .regalo .regalosImg {
      display: none !important; } }
  .regalo .titlePhrase {
    font-family: 'Great Vibes';
    font-size: 60px; }
    @media (min-width: 0px) and (max-width: 767px) {
      .regalo .titlePhrase {
        font-size: 46px;
        padding: 0 15px;
        margin: 0; } }
  .regalo img {
    width: 100%; }
  .regalo .infoBco {
    float: left;
    text-align: center;
    padding: 7% 0; }
    @media (min-width: 0px) and (max-width: 767px) {
      .regalo .infoBco {
        padding: 0; } }
    .regalo .infoBco img {
      width: 30%; }
      @media (min-width: 0px) and (max-width: 767px) {
        .regalo .infoBco img {
          width: 58%; } }
    .regalo .infoBco .phrase {
      font-family: 'futura-light';
      font-size: 25px;
      width: 70%;
      margin: 0 auto;
      padding: 10px 0; }
      .regalo .infoBco .phrase p {
        padding-bottom: 10px; }
        @media (min-width: 0px) and (max-width: 767px) {
          .regalo .infoBco .phrase p {
            font-size: 18px; } }
      .regalo .infoBco .phrase span {
        font-family: 'Futura';
        display: block; }
        @media (min-width: 0px) and (max-width: 767px) {
          .regalo .infoBco .phrase span {
            width: 100%;
            float: left;
            white-space: normal;
            font-size: 21px;
            line-height: 38px; } }

.ubicaciones {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f7d379; }
  .ubicaciones .block h2 {
    color: white;
    font-family: 'Great Vibes';
    font-size: 54px; }
  .ubicaciones .block img {
    width: 50%;
    margin: 0 auto; }
  .ubicaciones .block .info {
    color: gray;
    font-family: 'futura-light';
    font-weight: lighter;
    text-align: center;
    font-size: 23px; }
    @media (min-width: 0px) and (max-width: 767px) {
      .ubicaciones .block .info {
        font-size: 18px; } }
    .ubicaciones .block .info p {
      padding: 20px 0;
      margin: 0; }
    .ubicaciones .block .info .iglesia {
      margin-bottom: 27px; }
    .ubicaciones .block .info b {
      display: block;
      font-size: 20px; }
      @media (min-width: 0px) and (max-width: 767px) {
        .ubicaciones .block .info b {
          font-size: 17px; } }
  .ubicaciones .block .fa {
    color: white;
    font-size: 25px; }
  .ubicaciones .block .fa-whatsapp {
    padding-right: 10px; }
  .ubicaciones .block iframe {
    display: block;
    clear: both;
    margin: 15px auto; }
    @media (min-width: 0px) and (max-width: 767px) {
      .ubicaciones .block iframe {
        margin-left: -15px; } }

@media (min-width: 1025px) and (max-width: 1349px) {
  .glyphicon-menu-down {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 1024px) {
  .glyphicon-menu-down {
    display: none !important; } }
@media (min-width: 0px) and (max-width: 767px) {
  .glyphicon-menu-down {
    display: none !important; } }

footer {
  clear: both; }
  footer .row {
    position: relative;
    height: 450px;
    background: url("../images/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 35%;
    color: white; }
    @media (min-width: 768px) and (max-width: 1024px) {
      footer .row {
        height: 270px !important; } }
    @media (min-width: 0px) and (max-width: 767px) {
      footer .row {
        height: 270px !important; } }
  footer .top {
    margin-top: 50px;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  footer .saludo {
    position: absolute;
    bottom: 30px;
    margin: 0 auto;
    width: 100%;
    text-align: center; }
    footer .saludo img {
      width: 13%;
      margin: 0 auto; }
    footer .saludo p {
      font-family: 'Sacramento';
      font-size: 80px;
      padding: 10px 0; }
      @media (min-width: 768px) and (max-width: 1024px) {
        footer .saludo p {
          font-size: 60px; } }
      @media (min-width: 0px) and (max-width: 767px) {
        footer .saludo p {
          font-size: 60px; } }

/*# sourceMappingURL=style.css.map */
