.top{
	position: relative;
	max-height: 600px;
	overflow: hidden;
	img{
		margin-top: -60px;
		width:100%;
	}
	#countdown{
		position:absolute;
		bottom: 50px;
		left: 70px;
		font-size: 30px;
	}

}

